/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Marcellus&display=swap');

/* Using asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

/* General styles */
body {
    font-family: 'Baskervville', serif;
    background-color: #000000;
}

section {
    min-height: 100vh;
}

h1,
h2,
h3,
p {
    font-weight: 100;
}

/* Header */
header {
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #686363;
    background-color: #D9D9D9;
    z-index: 100;
}

header a {
    font-family: 'Marcellus', serif;
    color: #000000;
    text-decoration: none;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    margin-top: 1rem;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1.5rem;
    color: #000000;
}

#menu a:hover {
    text-decoration: underline;
}

