/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Marcellus&display=swap');

/* Using asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

/* General styles */
body {
    font-family: 'Baskervville', serif;
    background-color: #000000;
}

section {
    min-height: 100vh;
}

h1,
h2,
h3,
p {
    font-weight: 100;
}

/* Header */

#logo {
    font-family: 'Marcellus', serif;
    text-decoration: none;
    color: #000000;
}