/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Marcellus&display=swap');

/* Using asterisk selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    scroll-padding-top: 4.5rem;
}

/* General styles */
body {
    font-family: 'Baskervville', serif;
    background-color: #000000;
}

section {
    min-height: 100vh;
}

h1,
h2,
h3,
p {
    font-weight: 100;
}

/* Header */
header {
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #686363;
    background-color: #D9D9D9;
    z-index: 100;
}

header a {
    font-family: 'Marcellus', serif;
    color: #000000;
    text-decoration: none;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    margin-top: 1rem;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1.5rem;
    color: #000000;
}

#menu a:hover {
    text-decoration: underline;
}

/* Navbar styles with dropdown toggle (The original code is taken from Code Institute's Love Running Project) */
nav {
    position: absolute;
    display: none;
    top: 100%;
    background-color: #D9D9D9;
    width: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: .3rem;
}

/* Main content */
main {
    /* Makes main element large enough to push the footer down */
    flex: 1 0 auto;
    /* Enables child element to have flex properties */
    display: flex;
    flex-direction: column;
}

/* Home section */
.home-container {
    /* Makes div and img inside be vertically aligned and centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.home-container img {
    width: 100%;
}

/* Creates inner space around h1 and p */
.home-content {
    padding: 2rem;
}

.home-content h1 {
    font-size: 230%;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: .5rem;
}

.home-content p {
    font-size: 120%;
    letter-spacing: 2px;
    color: #ffffff;
}

/* Biography section */
/* Creates styling for h2 element */
.biography-heading {
    font-size: 130%;
    color: #ffffff;
    background-color: #000000;
    padding: 1rem;
    text-align: center;
}

/* Makes divs into column */
.biography-container {
    display: flex;
    flex-direction: column;
}

/* Makes biography content and img element appear next to each other */
.biography-box {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

/* Styles both h3 and p elements to make them centered and add inner space around them */
.biography-content {
    text-align: center;
    padding: 1.5rem 1rem 1rem;
}

.biography-content h3 {
    font-size: 90%;
    margin-bottom: .7rem;
}

.biography-content p {
    font-size: 80%
}

/* Biography container with grey background */
.biography-box-grey-bg {
    display: flex;
    flex-direction: row-reverse;
    background-color: #D9D9D9;
}

.biography-content-grey-bg {
    text-align: center;
    padding: 1.5rem 1rem 1rem;
}

.biography-content-grey-bg h3 {
    font-size: 90%;
    margin-bottom: .7rem;
}

.biography-content-grey-bg p {
    font-size: 80%;
}

/* Work section */
.work-heading {
    font-size: 130%;
    color: #ffffff;
    background-color: #000000;
    padding: 1rem;
    text-align: center;
}

/* Makes work-box divs aligned in a column */
.work-container {
    display: flex;
    flex-direction: column;
}

/* Makes biography content and img element appear next to each other and reversed */
.work-box {
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
    border-bottom: 1px solid #ffffff;
}

/* Styles for both h3 and p elements */
.work-content {
    color: #ffffff;
    margin-left: 1rem;
    padding-top: 1rem;
}

.work-content h3 {
    font-size: 80%;
    font-weight: 150;
    margin-bottom: 1rem;
}

.work-content p {
    font-size: 60%;
    font-weight: 150;
    letter-spacing: 1px;
}

/* Styles all img elements to be the same size */
.work-box img {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/* Quotes section */
#quotes {
    background-color: #ffffff;
}

/* Creates styling for h2 element by making it centered and adding inner space around*/
.quotes-heading {
    font-size: 130%;
    color: #000000;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
}

.quotes-container img {
    width: 100%;
    height: 100%;
}

/* Adds some inner space around quotes */
.quotes-list {
    padding: 2rem;
}

.quotes-list li {
    margin-bottom: 1rem;
}

/* Subscribe section */
/* Creates styling for h2 element */
.subscribe-heading {
    font-size: 130%;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    background-color: #000000;
}

/* Creates a full-width centered box with aligned content using inline block and display properties */
.subscribe-box {
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}

/* Styles both h3 and p inside subscribe box */
.subscribe-content {
    padding: 2rem 3rem 1rem;
    text-align: center;
    color: #ffffff;
    margin-top: 4rem;
}

.subscribe-content h3 {
    font-size: 200%;
    margin-bottom: .5rem;
}

.subscribe-content p {
    font-size: 110%;
    letter-spacing: 1px;
}

/* Styles form to be vertically aligned and adds padding for spacing */
.subscribe-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 3rem;
}

.subscribe-label {
    margin-left: 1rem;
}

.text-input {
    font-size: 80%;
    margin: .5rem 1rem 1rem;
    padding: .5rem;
    color: #000000;
}

/* Styles button to have spacing and makes it appear smaller than inputs */
.subscribe-button {
    font-size: 160%;
    font-family: 'Baskervville', serif;
    padding: 1rem 2rem 1rem;
    transform: scale(0.5);
}

.subscribe-button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

/* Footer with social media icons */
#social-media {
    position: relative;
    top: 70px;
    width: 100%;
    padding: 1rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

#social-media i {
    font-size: 170%;
    color: #000000;
}

/* Thank you page */
.thank-you-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.thank-you-box i {
    font-size: 250%;
    color: green;
    margin-bottom: .5rem;
}

.thank-you-box h1 {
    color: #000000;
    font-size: 250%;
}

.thank-you-box-button button {
    font-size: 130%;
    border: 1px solid #000000;
    color: #000000;
    background-color: #ffffff;
    padding: .3rem;
    font-family: 'Baskervville', serif;
    margin-top: 2rem;
}

.thank-you-box-button button:hover {
    color: #ffffff;
    background-color: #000000;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    #menu>li {
        font-size: 130%;
        margin-bottom: 2rem;
    }

    /* Home section */
    .home-container {
        padding-top: 4rem;
        margin: 2rem;
    }

    .home-container img {
        width: 80%;
        height: 70vh;
    }

    .home-content {
        padding: 2.5rem;
        max-width: 40rem;
    }

    .home-content h1 {
        font-size: 270%;
        margin-bottom: 1rem;
    }

    .home-content p {
        font-size: 150%;
    }

    /* Biography section */
    .biography-heading {
        font-size: 160%;
    }

    .biography-content {
        margin-left: 3rem;
    }

    .biography-content-grey-bg {
        margin-right: 2rem;
    }

    .biography-content h3,
    .biography-content-grey-bg h3 {
        font-size: 110%;
    }

    .biography-content p,
    .biography-content-grey-bg p {
        font-size: 100%;
    }

    /* Work section */
    .work-heading {
        font-size: 160%;
    }

    /* Sizes and scales images */
    .work-box img {
        width: 20%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }

    .work-content h3 {
        font-size: 110%;
    }
    
    .work-content p {
        font-size: 100%;
    }

    /* Quotes section */
    .quotes-heading {
        font-size: 160%;
    }

    /* Makes content in container div align vertically */
    .quotes-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .quotes-container img {
        width: 60%;
        height: 60%;
        margin-top: 2rem;
        margin-left: 10rem;
    }

    .quotes-list {
        margin: 2rem;
    }

    .quotes-list li {
        font-size: 120%;
    }

    /* Subscribe section */
    .subscribe-heading {
        font-size: 160%;
    }

    .subscribe-box {
        max-width: 40rem;
        margin-top: 3rem;
        margin-left: 4rem;
    }

    .text-input {
        padding: 1.3rem;
    }

    .subscribe-button {
        font-size: 200%;
        transform: scale(0.5);
        padding: 1rem;
    }

    /* Thank you page */
    .thank-you-box {
        margin-top: 15rem;
    }

    .thank-you-box i {
        font-size: 700%;
        color: green;
        margin-bottom: .2rem;
    }

    .thank-you-box h1 {
        color: #000000;
        font-size: 500%;
    }

    .thank-you-box-button button {
        font-size: 250%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Header */
    header {
        padding: .1rem;
    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 1rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        height: 60px;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu>li {
        padding-left: 2rem;
        font-size: 100%;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Home section */
    /* Makes all elements centered horizontally */
    .home-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        margin-left: 5rem;
    }

    .home-container img {
        width: min-content;
    }
    
    .home-content h1 {
        font-size: 400%;
    }
    
    .home-content p {
        font-size: 200%;
    }

    /* Biography section */
    .biography-container {
        max-width: 70rem;
        margin: auto;
    }

    .biography-box img,
    .biography-box-grey-bg img {
        width: 20%;
        aspect-ratio: 2/2;
        object-fit: contain;
    }

    .biography-content {
        padding: 1rem;
        margin-top: 1rem;
        max-width: 60rem;
    }
    
    .biography-content h2 {
        font-size: 130%;
        margin-top: 1rem;
    }
    
    .biography-content p {
        font-size: 110%;
        margin-top: 1rem;
    }
}